<div class="bs-example">

  <div class="row">
    <div class="col-md-12">
      <form class="form-inline" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
          <label class="sr-only" for="writer">writer</label>
          <input type="text" class="form-control"
            [(ngModel)]="writer" id="writer" name="writer"
            placeholder="writer" required>
        </div>

          <div class="form-group">
            <label class="sr-only" for="content">content</label>
            <input type="text" class="form-control"
              [(ngModel)]="content" id="content" name="content"
              placeholder="content" required>
          </div>

            <div class="form-group">
              <label class="sr-only" for="date">date</label>
              <input type="text" class="form-control"
              [(ngModel)]="date" id="date" name="date"
              placeholder="date" required>
            </div>

              <button type="submit" class="btn btn-default btn-sm"
                [disabled]="f.invalid">
              <b class="glyphicon glyphicon-plus"></b> Add
          </button>
      </form>
    </div>
  </div>
  <hr>
  <br>
</div>
  <!-- <div class="row">
    <div *ngFor="let not of data" class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">{{not.id}}</div>
        <div class="panel-body">
          <p>{{not.writer}}{{' '}}{{not.content}}{{' '}}{{not.date}}</p>
        </div>
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <a href="#" class="text-warning" (click)="removeNote(not)">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


    <h2>Memo</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>WRITER</th>
          <th>CONTENT</th>
          <th>DATE</th>
        </tr>
      </thead>
      <tbody>

        <ng-template ngFor let-not [ngForOf]="data">
          <tr>
            <th>{{not.id}}</th>
            <th>{{not.writer}}</th>
            <th>{{not.content}}</th>
            <th>{{not.date}}</th>
          </tr>
          <div class="panel-footer clearfix">
          <div class="pull-right">
            <a href="#" class="text-warning" (click)="removeNote(not)">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </div>
          </div>
        </ng-template>

      </tbody>
    </table>
